/*home page and general css*/
body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: georgia;
  background-color: #FFFFFF;
  overflow-x: hidden;
  font-size: 1vw;
}

#mainContainer {
display: flex;
flex-direction: column;
padding-top: 0px;
margin-top: 0px;
margin-bottom: 0px;
align-items: center;
justify-content: center;
}
#topStuff{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu{
  margin: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height:5vw;
  width: 100vw;
  background-color: #290661;
  position: fixed;
  color: #EEE6FB;
}
#menuTitle{
  width: 40%;
  display: flex;
  padding-left: 1vw;
}

#menuLinks{
  display:inline-flex;
  width: 60%;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  padding-right: 3vw;
}
h1{
  display: flex;
  font-size: 2.5vw;
  margin: 0;
  margin-left: 1vw;
  padding: 0px;
  text-shadow: 2px 2px #4B3E61;
}
h2{
  display: flex;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  padding-top: .5vw;
}

a{
  color: #4B3E61;
  font-size: 1.5em;
  background-color: #EEE6FB;
  padding: .3em .8em;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
a:hover{
  color: #EEE6FB;
  font-size: 1.5em;
  background-color: #4B3E61;
  padding: .3em .8em;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8vw;
  width: 92%;
  padding-top: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-bottom: 1vw;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #290661;
  text-align: center;
}
#description{
  display: flex;
  font-size: 1.2em;
  padding-bottom: 1vw;
}

#graphs{
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 1vw;
  margin-bottom: 0;
  padding: 1vw;
  text-align: center;
}
#graph1{
  color: #290661;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 1vw;
    width: 40%;
    vertical-align: center;
    border-color: #290661;
    border-style: solid;
}
#graph2{
  color: #290661;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 1vw;
    width: 40%;
    vertical-align: center;
    border-color: #290661;
    border-style: solid;
}
img{
  max-width: 100%;
  height: auto;

}

/*Gender Page*/

#genderContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

#genderHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 16vw;
  width: 92vw;
  padding-top: 8vw;
  margin-left: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 2vw;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #290661;
  text-align: center;
}
#genderPhoto{
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 33%;
  margin-left: 1vw;
  margin-bottom: 2vw;
}

#genderDescription{
  display:flex;
  flex-direction: column;
  flex-grow: 1.3;
  max-width: 60%;
  margin:1vw;
  font-size: 1.5em;
  text-overflow: ellipsis;

}
#genderGraphs{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#genderGraph1{
  display: inline-block;
  margin: 1vw;
  color: #290661;
  text-align: center;
  width: 46%;
  border-color: #290661;
  border-style: solid;
  padding-left: 1vw;
  padding-right: 1vw;
}
#genderCovid{
  width: 46%;
  display: inline-block;
  margin: 1vw;
  color: #290661;
  text-align: center;
  border-color: #290661;
  border-style: solid;
  padding-left: 1vw;
  padding-right: 1vw;
}

#genderLinks{
  display: flex;
  flex-direction: column;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #4B3E61;
  width:80%;
  height: 7vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.genderDonate a{
  text-decoration: underline;
}

/*race page*/
#raceContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

#raceHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 16vw;
  width: 92vw;
  padding-top: 8vw;
  margin-left: 1vw;
  padding-bottom: 1vw;
  margin-bottom: 2vw;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #290661;
  text-align: center;
}
#racePhoto{
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 31%;
  margin-bottom: 2vw;
}

#raceDescription{
  display:flex;
  flex-direction: column;
  flex-grow: 1.3;
  max-width: 60%;
  margin:1vw;
  margin-right: 0;
  font-size: 1.5em;
  text-overflow: ellipsis;
}
#raceGraphs{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#raceGraph1{
  display: inline-block;
  margin: 1vw;
  color: #290661;
  text-align: center;
  width: 46%;
  border-color: #290661;
  border-style: solid;
  padding-left: 1vw;
  padding-right: 1vw;
}
#raceCovid{
  width: 46%;
  display: inline-block;
  margin: 1vw;
  color: #290661;
  text-align: center;
  border-color: #290661;
  border-style: solid;
  padding-left: 1vw;
  padding-right: 1vw;
}

#raceLinks{
  display: flex;
  flex-direction: column;
  background-color: #EEE6FB;
  border-color: #290661;
  border-style: solid;
  color: #4B3E61;
  width:60%;
  height: 10vw;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1vw;
}

.raceDonate a{
  text-decoration: underline;
}
